#msg{
	float:left;
	margin-left:230px;
	margin-top:-540px;
	font-family:cursive;
	font-style: oblique;
}
#lo{
	margin-top:-540px;
	margin-left:1000px;
	font-size:20px;
}
.button{
	padding:1px 1px 1px 1px;
	border-radius:10px;
	background-color:#ed5752;
	border-style:dotted;
	font-size:20px;
	text-align:center;
	float:right;
	cursor:pointer;
	position: fixed;
	
}
.b1{float:left;
	margin-top:80px;
	margin-left:340px;
	width:100px;
	height:35px;
	position:fixed;
	}
.b2{ float:left;
	margin-left:500px;
	margin-top:80px;
	width:100px;
	height:35px;
	position:fixed;
}
.b3{ float:left;
	margin-left:660px;
	margin-top:80px;
	width:100px;
	height:35px;
	position:fixed;
}


	.b1:hover,.b2:hover,.b3:hover{
	
	background-color:#a1be95;	
	}